@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --nav-width: 100%;
  --handle-size: 2rem;
  --movie-slider-padding: 2.5rem;
  --img-gap: 0.25rem;
  --secondary-black: #0b0b0c;
  --primary-grey: #696969;
  --brown: #4a3c32;
  --blueish-grey: #757c8a;
  --chocolate: #9f5f3c;
  --tertiary-orange: #e68a1b;
  --pinkish: #ceafae;
  --white: #f7f8ff;
  --gray: #c1c0c4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  */

body {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  color: var(--white);
  background-color: var(--secondary-black);
}

/*  */
nav {
  width: var(--nav-width);
  padding: 0.5rem;
}

nav img {
  width: 100%;
  height: auto;
}

nav .resp-nav-header {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

nav .resp-nav-header img {
  width: 5rem;
}

nav .resp-nav-header .close-menu {
  display: none;
  font-size: 1.2rem;
}

nav .resp-nav-header .open-menu {
  font-size: 1.2rem;
}

/* navbar with items */
.nav-items-container {
  display: none;
}

.active-nav-items {
  display: block;
}

.nav-items-container {
  top: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: var(--primary-grey);
  margin-left: -0.5rem;
  padding: 1rem 1rem;
}

.nav-items-container .nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.nav-items-container .nav-header .close-menu {
  font-size: 1.5rem;
}

.nav-items-container .nav-header img {
  width: 5rem;
  height: auto;
}

.nav-items-container .nav-items {
  display: grid;
  gap: 1.5rem;
}

.nav-items-container .nav-items .nav-element h2 {
  font-size: 1.5rem;
  color: var(--gray);
}

.nav-items-container .nav-items .nav-element > div {
  font-size: 1.2rem;
  display: grid;
  gap: 0.3rem;
  margin-left: 0.5rem;
}

/* Hide Searchbar Section on mobile devices */
nav .nav-search {
  display: none;
}

/* Main section */
main {
  padding: 0.5rem;
}
main .empty-boiler-plate {
  display: none;
}

@media screen and (min-width: 800px) {
  nav {
    position: relative;
    display: flex;
    align-items: end;
    gap: 1rem;
    padding: 0.5rem 0.5rem;
  }

  nav .resp-nav-header {
    width: 22%;
    margin-bottom: 0rem;
  }

  nav .nav-search {
    width: 78%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-search input[type="search"] {
    width: 80%;
    color: var(--white);
    background-color: var(--primary-grey);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-right: 1.5rem;
  }

  .nav-search input[type="search"]::placeholder {
    color: var(--gray);
  }

  .nav-search .main-lang-choice {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .nav-search .main-lang-choice img {
    width: 20px;
    height: auto;
  }

  .nav-search .main-lang-choice > div,
  .nav-search .login-user > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .nav-search .login-user {
    margin-left: 0.5rem;
  }

  .nav-search .login-user > p > i {
    margin-right: 0.5rem;
  }

  /* Navbar with items */
  .nav-items-container {
    position: static;
    width: 22%;
    max-width: 300px;
    position: fixed;
    background-color: var(--primary-grey);
    padding-left: 1rem;
  }

  .nav-items-container .nav-header {
    margin-bottom: 1rem;
  }

  .nav-items-container .nav-items {
    gap: 1rem;
  }

  .nav-items-container .nav-items .nav-element h2 {
    font-size: 1.3rem;
  }

  .nav-items-container .nav-items .nav-element > div {
    font-size: 1rem;
    display: grid;
    gap: 0.3rem;
    margin-left: 0.5rem;
  }

  /* main section */
  main {
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
  }

  main .show-boiler-plate {
    width: 22%;
    display: block;
  }

  main .main-section {
    width: 100%;
  }

  main .full-main-section {
    width: 78%;
  }
}
